body{
    background:  #AD9157; /* LIGHTBROWN */
    background:  #4F3119; /* DARKBROWN */
    background:  #11110F; /* BLACKBROWN */
    background:  #181818; /* BLACK */
    background:  #708090; /* GREY */
    background:  #454545; /* GRAY */
    background:  #FF4000; /* RED */
    background:  #FF8000; /* ORANGE */
    background:  #400080; /* VOILET */
    background:  #ee70d3; /* PINK */
    background:  #FFF200; /* YELLOW */
    background:  #40FFC0; /* BLUE */
    background:  #00C000; /* GREEN */
    background:  #FFFFFF; /* WHITE */
    background:  #FFC000; /* GOLD */
    background:  #092e64; /* DEEPBLUE1 */
    background:  #1434A4; /* DEEPBLUE2 */
    background:  #004949; /* DARKCYAN1 */
    background:  #2f4f4f; /* DARKCYAN2 */
    background:  #004000; /* DARKGREEN1 */
    background:  #008000; /* DARKGREEN2 */
    background:  #663399; /* DARKPINK */
    background:  #282828; /* LIGHTBLACK */
    background:  #5f9ea0; /* CADET */
    background:  #811a13; /* DARKRED */
    background:  #412511; /* BROWN */
    background:  #800080; /* PURPLE */
    background:  #556b2f;
    background: #483d8b;
    background: #6b5fb4;
    background: #f0e68c;
    background: #d2691e;
    background: #b8860b;
    background: #ce71f3;
    background: #f7c05a;



}

